/* mobile fixes */
@media (max-width: 899px) {
    /* Bugfix Firefox Mobile: The expanded user menu was behind the content (lower z-index) */
    .toolbar-vertical .navbar-default {
        z-index: 3;
    }
    /* Bugfix Firefox mobile: sub menu position was totally off. */
    .navbar-collapse .dropdown-menu {
        top: 0;
    }
}

/* removing header gradient, adding only a slight background to keep readability */
.hero__bgimage-overlay {
    background: rgba(0,0,0,0.15) !important;
}

/* removing margin of last item */
/* .body-text p, */
.field p {
    margin-bottom: 0;
}

/* Styling custom block on front page */
#block-feedbackteaser {
    padding: 1.25rem;
    text-align: center;
}
